body {
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  color: #d9d9da !important;
  cursor: pointer;
}
/*
.nav-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 0px;
  padding-top: 36px;
  padding-left: 3%;
  background-color: transparent;
}*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00000057;
  z-index: 3;
}

.navbar ul {
  display: flex !important;
  justify-content: center !important;
}
.navbar ul li {
  margin: 0 15px 0 15px;
}
.navbar ul li:hover {
  transition: 0.3s;
  background-color: #111111;
}

.nav-item a {
  color: #d9d9da !important;
  font-family: open sans, sans-serif;
}

.navbar-nav {
  top: 0;

  width: 100%;
}
.navbar.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.end-item {
  margin-left: auto;
}
/*
.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.5s ease-out, background-color 0.5s ease-out;
  background: #000;
  z-index: 1;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header.blur-text .name {
  filter: blur(100px);
}

.blur-text {
  filter: blur(100px); /* Adjust the blur intensity as needed 
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("path-to-your-image.jpg"); /* Reemplaza con la ruta de tu imagen 
  background-size: cover;
  background-position: center;
  z-index: -1;
}

*/

.header {
  position: relative;
  z-index: 5;
  height: 800px;

  transition: filter 0.3s, top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.blurred {
  filter: blur(5px);
}

/* Styles for the fixed header */
.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  transition: filter 0.3s, top 0.3s;
}

/* Styles for the job-title section */

.name {
  font-size: 150px;
  font-weight: 400;
  font-family: "Lobster", sans-serif;
  color: #fff;
  transition: filter 0.5s ease-out;
}

.job-title {
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  transition: opacity 0.5s, transform 0.5s;
}
.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
#h2-title {
  font-size: 150px;
  font-weight: 700;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.curriculum {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.imagen {
  flex: 0 0 auto;
  position: sticky;
  top: 20px;
}

.imagen img {
  height: 800px;
  width: auto;
}

.content {
  flex: 1;
  position: relative;
  max-height: 800px;
  overflow-y: auto;
  padding-right: 25px;
}

.content h2 {
  color: #ff6200;
}

.content h3 {
  color: #fbd8c3;
}

.content h4 {
  color: #fbd8c3;
}

.content i {
  color: #fbd8c3;
}

#icons {
  list-style: none;
}

span {
  font-weight: bold !important;
}

.in-touch {
  box-sizing: border-box;
  width: 100%;
  height: 150vh;
  position: relative;
}

.line-1 {
  position: fixed;

  top: 10%;
  left: -800px;
  white-space: nowrap;
}
.line-2 {
  position: fixed;
  top: 35%;
  right: -800px;
  white-space: nowrap;
}

.line-2 h2 {
  font-size: 12em; /* Adjust this value to change the text size */
}
.line-1 h2 {
  font-size: 12em; /* Adjust this value to change the text size */
}

footer {
  display: flex;
  flex-direction: column;
}

footer ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #d9d9da;
}

.f-nav {
  display: flex;
  flex-direction: column;
}

.f-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.f-links h4 {
  color: #ff6200;
}

.f-links i {
  color: #fbd8c3;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
a:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: 0.5;
}

a:hover ~ .cursor2 {
  opacity: 0;
}
.cursor,
.cursor2 {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.15s ease, background-color 0.15s ease,
    width 0.15s ease, height 0.15s ease;
  z-index: 9999;
}

.cursor.fullscreen {
  border-radius: 50%;
  border: #2b2828;
  background-color: #fbd8c346;
}

.cursor2.fullscreen {
  width: 0;
  height: 0;
}

.cursor.small {
  width: 10px;
  height: 10px;
  background-color: #ff6200c9;
}

.cursor2.small {
  width: 10px;
  height: 10px;
  background-color: #ff6200c9;
}
